.input_btn {
    border: 1px solid #fa2828;
    background-color: #f9f9f9;
    color: #fa2828;
    cursor: pointer;
    padding: 15px 30px;
    margin: 20px;
  }
  
  .upload_btn {
    border: 1px solid #fa2828;
    background-color: #fa2828;
    color: #f9f9f9;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 8px;
  }
    
  .detailMain {
    height: 100%; /* 높이를 100%로 설정 */
    min-width: 320px;
    display: flex; /* 플렉스 레이아웃 유지 */
    flex-direction: column; /* 수직 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    position: relative; /* 상단 고정을 위한 상대 위치 */
  }
  