#map{
    min-height: 600px;
    width: 100%;
}

.Place h1 {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
    color: #333;
    margin-top: 48px;
}

.Place_detail_box {
    margin: 20px;
}

.Place_detail_box p {
    color: #444;
}

.Place_detail {
    margin: 5px;
    left: 0;
    color: rgb(99, 98, 98);
    width: 300px;
}