.calendar {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.calendar-header h2 {
  font-size: 18px;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #fa2828;
  font-weight: bold;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #ffffff;
  grid-template-rows: repeat(6, 50px);
  gap: 0; 
  border: none;
}

.calendar-day-header {
  background-color: #f4f4f4;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.calendar-day {
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 100px;
  box-sizing: border-box;
  border: none;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

.calendar-day.empty {
  background-color: #ffffff;
  cursor: default;
  border: none;
}

.reserve-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.day-number-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 18px;
  font-weight: bold;
  color: #ddd;
}
.reserved-day {
  color: #fa2828; /* 예약된 날짜 색상 빨간색 */
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7); /* 가독성을 위한 그림자 */
}