:root {
  --all_width: 1120px;
}

.width_limit {
  width: var(--all_width);
  margin: 0 auto;
}
/*  */
.detail_main {
  margin-top: 20px;
}

.product_info {
  display: flex;
}

.reserve_tab{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  border: 1px solid gray;
  border-radius: 10px;
}

.product_tab {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product_content {
  text-align: center;
}
